<div class="back">
  <div class="row" style="background-color:lightgray">
    <div class="col-md-9">
<div class="heading" style="color:green">
  <h1>Inst<span class="glyphicon glyphicon-home"></span>rent</h1>
 
</div>
<div class="himg col-md-offset-4">
   <img src="/assets/images/imghome.png">
  
</div>
  <div class="head">
     <h1>The simplest way to rent a property</h1>
  </div>
    </div>
<div class="col-md-3" style="background-color:white">
<form>
  <h4 style="color:green">Inst<span class="glyphicon glyphicon-home"></span>rent</h4>
  <p>Sign into your Account</p>
  <input type="text" placeholder="Email or phone number"><br>
  <input type="password" placeholder="password"><br>
  <a href="#" style="list-style-type:none;text-decoration:none">Forgot your password?</a>
  <a href="#" style="list-style-type:none;text-decoration:none">Register Here?</a><br><br>
  <input type="submit" class="btn btn-success" id="log" value="Login" style="width:40%;margin-left:60px;"><br><br>
  <input type="submit" class="btn btn-primary" id="log" value="Facebook" style="width:40%">
  <input type="submit" class="btn btn-danger" id="log" value="Google" style="width:40%"><br><br>
</form>
</div>
</div>
  
    
    <div class="form-group col-md-offset-4">
      <div class="selection">
                <select ngModel name="contactMethod" id="contactMethod">
                  
                  <option *ngFor="let method of contactMethods" [value]="method.id">{{method.m}}</option>
                     
                </select>
                <!-- <input type="text" placeholder="Where do u want to live"> -->
                <!-- <div class="row siginup"> -->
   <!-- <span class="crl" style="color:green">1</span> -->
  <span class="colo"></span><input class="txt" type="text" placeholder="who do you like to?">
  <div type="button" class="btn btn-primary">GO</div>
 
<!-- </div> -->
                </div>
    </div>





    
    





