

<div class="row">
  <div class="col-md-6">
    <h2>SIGNUP<span class="glyphicon glyphicon-user"></span></h2>
  </div>
   <div class="col-md-2 col-md-offset-4 insta">
    <h4>INST<span class="glyphicon glyphicon-home"></span>RENT</h4>
  </div>
</div>
 

<div class="container">
   <div class="row">
     <div class="col-md-3">
       <div class="col-md-2" style="margin-top:25px"><span class="crl">1</span></div>
       <div class="col-md-10">
         <div class="form-group siginup">
             <input type="text" class="form-control"  placeholder="Who you are?">
            
         </div>
        </div>
     </div>
     <div class="col-md-3">
         <div class="col-md-2" style="margin-top:25px"><span class="crl">2</span></div>
         <div class="col-md-10">
           <div class="form-group siginup">
               <input type="text" class="form-control" id="usr" placeholder="Name">
           </div>
         </div>
       </div>
       <div class="col-md-3">
           <div class="col-md-2" style="margin-top:25px"><span class="crl">3</span></div>
           <div class="col-md-10">
             <div class="form-group siginup">
                 <input type="text" class="form-control" id="usr" placeholder="Phone">
             </div>
           </div>
         </div>
         <div class="col-md-3">
             <div class="col-md-2" style="margin-top:25px"><span class="crl">4</span></div>
             <div class="col-md-10">
               <div class="form-group siginup">
                   <input type="text" class="form-control" id="usr" placeholder="Email">
               </div>
             </div>
           </div>
     
   </div>
 </div>



 <div class="row colo">
  <h1>Who you are ?</h1>
</div> 

<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-3">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/assets/images/card3.png" alt="Card image cap">
            <div class="card-block">
            </div>
          </div>
    </div>

    <div class="col-md-2">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/assets/images/card2.png" alt="Card image cap">
            <div class="card-block">
            </div>
          </div>
    </div>

    <div class="col-md-2">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/assets/images/card3.png" alt="Card image cap">
            <div class="card-block">
            </div>
          </div>
    </div>
  </div>
</div>






<div class="container-fluid">
    <div class="row">
      
         <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card1.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h3>LandLord</h3>
                            <p style="font-size: 12px;">I am a very simple card.I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
                            
                            <a style="color:red">ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card2.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h3>LandLord</h3>
                            <p style="font-size: 12px;">I am a very simple card.I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
                            
                            <a style="color:red">ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/card3.png" class="img-responsive">
                        </div>
                        <div class="col-md-8">
                            <h3>LandLord</h3>
                            <p style="font-size: 12px;">I am a very simple card.I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
                            
                            <a style="color:red">ViewMore</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
        </div>