<div class="container" style="background-color:lightgray">

    <div class="col-md-12">
   <h1> Inst<span class="glyphicon glyphicon-home"></span>rent</h1> 
   
  </div>
  <div class="img col-md-offset-4">
      <img src="/assets/images/imghome.png" width="410">
     
   </div>
   <h2>
     The simplest way to rent a property 
   </h2>

   <div class="form-group">
      <select ngModel name="contact" id="contact">
          <option *ngFor="let siri of selector" [value]="siri.id">{{siri.name}}
          </option>
      </select>
  
  <input class="txt" type="text" placeholder="who do you like to?">
  <div type="button" class="btn btn-primary">GO</div>
</div>
</div>



<div class="container">
<div class="row">

  <div class="col-md-3 col-md-offset-2">
      <div class="card" style="width: 20rem;">
          <img class="card-img-top" src="/assets/images/card2.png" alt="Card image cap">
          <div class="card-block">
            
            <p class="card-text">I am a very simple card.I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
            <a href="#"><h5>THIS IS A LINK</h5></a>
          </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="width: 20rem;">
            <img class="card-img-top" src="/assets/images/card3.png" alt="Card image cap">
            <div class="card-block">
              
              <p class="card-text">I am a very simple card.I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
              <a href="#"><h5> THIS IS A LINK </h5></a>
            </div>
          </div>
      </div>

      <div class="col-md-3">
          <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="/assets/images/card2.png" alt="Card image cap">
              <div class="card-block">
                
                <p class="card-text">I am a very simple card.I am good at containing small bits of information.I am convenient because I require little markup to use effectively.</p>
                <a href="#"><h5>THIS IS A LINK</h5></a>
              </div>
            </div>
        </div>


</div>
</div>
  
